    <div class="container">
        <div class="card card-container">
            
            <!--  This is the hook to the generic login profile picture  -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" >
                
                <input type="text" id="inputUsername" class="form-control"  placeholder="Employee Email"  autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Employee Password">
                <br>    

                <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin">Login</button>
            </form><!-- /form -->
            
        </div><!-- /card-container -->
    </div><!-- /container -->