<navbar></navbar>
<div id="outside">
<div *ngFor="let emp of employees">
<div *ngFor="let bg of backgrounds">
    <div *ngIf="emp.Employee.IDCard.ID == bg.BackGround.Employee.ID">
    <h3>{{emp.Employee.IDCard.LastName}}, {{emp.Employee.IDCard.FirstName}}</h3>
    <hr />
    <h3>Background Check Information</h3>
    <p>
        <strong>ID:</strong> {{bg.BackGround.Employee.ID}}<br>
        <strong>Status:</strong> {{bg.BackGround.Employee.Status}}<br>
        <strong>Citizenship:</strong> {{bg.BackGround.Employee.Citizenship}}<br>
    </p>
    <h3>Virtusa Background Check</h3>
    <p>
        <strong>Status:</strong> {{bg.BackGround.VirtusaCheck.Status}}<br>
    </p>
    <h3>Pratt Background Check</h3>
    <p>
        <strong>Status:</strong> {{bg.BackGround.PrattCheck.Status}}<br>
    </p>
    <hr /><hr />
    </div>
  </div>
</div>
</div>