<empNavbar></empNavbar>
<div id="outside">
      <hr />
    <h3>Laptop Information</h3>
    <p>
        <strong>Citizenship Type: </strong> {{background.BackGround.Employee.Citizenship}}<br> 
        <strong>Employee ID: </strong> {{background.BackGround.Employee.ID}}<br>
        <strong>Employee Status: </strong> {{background.BackGround.Employee.Status}}<br>
        <strong>Virtusa Check: </strong> {{background.BackGround.VirtusaCheck.Status}}<br>
        <strong>Pratt Check: </strong> {{background.BackGround.PrattCheck.Status}}<br>
    </p>
</div>