<empNavbar></empNavbar>
<div id="outside">
      <hr />
    <h3>{{employee.Employee.IDCard.LastName}}, {{employee.Employee.IDCard.FirstName}}</h3>
    <hr />
    <h3>Laptop Information</h3>
    <p>
        <strong>Model:</strong> {{employee.Employee.Laptop.Model}}<br> 
        <strong>Brand:</strong> {{employee.Employee.Laptop.Brand}}<br>
        <strong>Laptop Id:</strong> {{employee.Employee.Laptop.LaptopID}}<br>
        <strong>Tracking Number:</strong> {{employee.Employee.Laptop.TrackingNumber}}<br>
    </p>
</div>