<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" 
              class="navbar-toggle collapsed"
              (click)="toggleState()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> <!-- #1 -->
            <a class="navbar-brand">Employee</a>
        </div>
        <div class="collapse navbar-collapse"
          [ngClass]="{ 'in': isIn }">
          <ul class="nav navbar-nav">
             <li><a id="eLink" href="/employee/"+{{employee.Employee.IDCard.ID}}>Home</a></li>
              <li><a id="lLink" href="/empLaptop/2"{{employee.Employee.IDCard.ID}}>Laptop</a></li>
              <li><a id="bgLink" href="/empBackground/2"{{employee.Employee.IDCard.ID}}>Background</a></li>
          </ul>
        </div> <!-- #2 -->
    </div>
</nav>