<empNavbar></empNavbar>
<div id="outside">
   <hr />
    <h3>{{employee.Employee.IDCard.LastName}}, {{employee.Employee.IDCard.FirstName}}</h3>
    <hr />
    <h3>Employee Details</h3>
    <p>
        <strong>ID:</strong> {{employee.Employee.IDCard.ID}}<br>
        <strong>Status:</strong> {{employee.Employee.IDCard.Status}}<br>
        <strong>Role:</strong> {{employee.Employee.IDCard.Role}}<br>
        <strong>Citizenship:</strong> {{employee.Employee.IDCard.Citizenship}}<br>
        <strong>Work Location:</strong> {{employee.Employee.IDCard.WorkLocation}}<br>
    </p>
  </div>