<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" 
              class="navbar-toggle collapsed"
              (click)="toggleState()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> <!-- #1 -->
            <a class="navbar-brand">Employee</a>
        </div>
        <div class="collapse navbar-collapse"
          [ngClass]="{ 'in': isIn }">
          <ul class="nav navbar-nav">
             <li><a href="/">Home</a></li>
              <li><a href="/laptop">Laptop</a></li>
              <li><a href="/background">Background</a></li>
              <li><a href="/test/1">Test</a></li>
          </ul>
        </div> <!-- #2 -->
    </div>
</nav>