<navbar></navbar>
<div id="outside">
  <div *ngFor="let emp of employees" let i = index>
      <hr />
    <h3>{{emp.Employee.IDCard.LastName}}, {{emp.Employee.IDCard.FirstName}}</h3>
    <hr />
    <h3>Employee Details</h3>
    <p>
        <strong>ID:</strong> {{emp.Employee.IDCard.ID}}<br>
        <strong>Status:</strong> {{emp.Employee.IDCard.Status}}<br>
        <strong>Role:</strong> {{emp.Employee.IDCard.Role}}<br>
        <strong>Citizenship:</strong> {{emp.Employee.IDCard.Citizenship}}<br>
        <strong>Work Location:</strong> {{emp.Employee.IDCard.WorkLocation}}<br>
    </p>
  </div>
  </div>